@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  padding: 1rem 0;
  user-select: none;
  font-size: 1.5rem;
}

section,
form {
  border-radius: 1rem;
}

.error_message {
  color: red;
  font-size: 0.85rem;
  border-left: 3px solid red;
}

::placeholder, a{
  user-select: none;
}